.container-profile .container-btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 25px 0 25px 0;
}

.not-pokemon-found {
    margin-bottom: 10px;
}

.container-pokemon-trainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-pokemon-trainer a {
    font-weight: bold;
}