* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88.9vh;
}

@media screen and (max-width: 400px) {
    main {
        min-height: 81.7vh;
    }
}

@media screen and (max-width: 1333px) {
    main {
        min-height: 80.5vh;
    }
}

a {
    color: #333;
    text-decoration: none;
}